<form class="form new-post-like-form" action="/posts/<%= post.id %>/like" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" class="input submit like-submit " value="Like This Comment">
</form>
