/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
/* FLASH STYLE */
.flash{
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background:#ddd;
  color:#666;border:1px solid #ccc;
}

.info{
  background:#D9EDF7;
  color:#3A87AD;
  border:1px solid #BCE8F1;
}
.warning{
  background:#FCF8E3;
  color:#C09853;
  border:1px solid #FBEED5;
}
.success{
  background:#DFF0D8;
  color:#468847;
  border:1px solid #D6E9C6;
}
.error{
  background:#F2DEDE;
  color:#B94A48;
  border:1px solid #EED3D7;
}

/*---------------------------------------------------------------------------*/
/**----------------------BROCOLLI BLOG----------------------------------------**/
/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* element styling */
html {
  height: 100%;
  background-color: #32bb7d;
  background: url(../images/diamond-bg.jpg);
  background-attachment: fixed;
  line-height: 1.4;
}

body {
  height: 100%;
}

a {
  color: #32bb7d;
  text-decoration: none;
}

  a:hover {
    color: #6ec7a5;
    text-decoration: underline;
  }

input[type=text], input[type=password], textarea {
  color: #05724f;
}


/* positioning */
.block {
  display: block;
}

.center {
  margin: 0 auto;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}


/* formatting */
.bg-dk-green {
  background-color: #05724f;
}

.bg-white {
  background-color: ##f8f8f8;
}

.button {
  background: #32bb7d;
  color: #808080;
  padding: 1em;
  text-decoration: none;
}

  .button:hover {
    color: #808080;
    text-decoration: none;
    background-color: #6ec7a5;
  }

.c-dk-green {
  color: #05724f;
}

.c-lt-gray {
  color: #cccccc;
}

.c-white {
  color: #808080;
}

  a.c-white:hover {
    color: #808080;
  }

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.col-3 {
  width: 33.33%;
}

.font-2 {
  font-size: 2em;
}

.font-3-4{
  font-size: .75em;
}

.h-10 {
  height: 10em;
}

.hover-underline:hover {
  text-decoration: underline;
}

.mar-b-1 {
  margin-bottom: 1em;
}

.mar-b-2 {
  margin-bottom: 2em;
}

.mar-b-3 {
  margin-bottom: 3em;
}

.mar-b-8 {
  margin-bottom: 8em;
}

.mar-b-16 {
  margin-bottom: 16em;
}

.mar-t-2 {
  margin-top: 2em;
}

.mar-t-3 {
  margin-top: 3em;
}

.mar-t-4 {
  margin-top: 4em;
}

.mar-t-5 {
  margin-top: 5em;
}

.max-w-700 {
  max-width: 700px;
}

.no-bg {
  background: none;
}

.no-border {
  border: none;
}

.no-bullets {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.no-outline {
  outline: none;
}

.no-padding {
  padding: 0;
}

.no-resize {
  resize: none;
}

.pad-1 {
  padding: 1em;
}

.pad-2 {
  padding: 2em;
}

.pad-b-1-4 {
  padding-bottom: .25em;
}

.pad-b-2 {
  padding-bottom: 2em;
}

.pad-b-3 {
  padding-bottom: 3em;
}

.pad-b-4 {
  padding-bottom: 4em;
}

.pad-b-8 {
  padding-bottom: 8em;
}

.pad-s-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.pad-t-1 {
  padding-top: 1em;
}

.pad-t-2 {
  padding-top: 2em;
}

.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

  .pipe-separate:first-of-type {
    padding-left: 0;
  }

  .pipe-separate:last-of-type {
    padding-right: 0;
    border-right: none;
  }

.round-1 {
  border-radius: 1em;
}

.t-light-green {
  color: #32bb7d;
}

.text-c {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-66 {
  width: 66.66%;
}

.w-100 {
  width: 100%;
}

.wrap-float {
  overflow: auto;
}

.logo-container {
  border: 5px solid #05724f;
  color: #05724f;
  width: 305px;
  height: 305px;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width:160px;
}
/*-------------------------------END OF BROCOLLI BLOG----------------------------------------*/